{% extends "BackOffice/layout.html.twig" %}

{% block title %}{{ parent() }} - Etablissement{% endblock %}

{% block body %}
	
    <h1> Gestionnaire</h1>
    <h2><a href="{{ path('backoffice_gestionnaire_show', { 'id': gestionnaire.id }) }}"> {{gestionnaire}}</a></h2>

    
    
    {% include "BackOffice/Gestionnaire/inc_show.html.twig" %}


            
{% endblock %}

     {% block out_container  %}
            {% include 'BackOffice/Etablissement/list_suivi.html.twig' with {etablissements : gestionnaire.etablissements} %}
    {% endblock %}         
