{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1>Gestionnaire</h1>
    <h2><a href="{{ path('backoffice_gestionnaire_show', { 'id': gestionnaire.id }) }}">{{ gestionnaire.nom }}</a></h2>

    
    
    {% include "BackOffice/Gestionnaire/inc_show.html.twig" %}

     
    
     {% if is_granted('ROLE_SUPER_ADMIN_UTILISATEUR') %}
        <div class="panel panel-primary">
            <div class="panel-heading"> <h3 class="panel-title"><i class='glyphicon glyphicon-user'></i> Utilisateurs établissements ({{ gestionnaire.nom }})</h3> </div>
            <div class="panel-body">
              {% set deletable = true  %}
              {% if gestionnaire.users | length > 0   %}
                    {% set deletable = false %}
                    {% set show_affected = true %}
                    
                    <div id='liste_user' data-reload_with='{{ path("backoffice_users_etablissements_from_gestionnaire", {"id":  gestionnaire.id}) }}'>
                            {% include "BackOffice/user/list.html.twig" with {'users': gestionnaire.UsersEtablissements} %}
                    </div>
                    
            {% endif %}
            </div>
        </div>
    {% endif %}

    
    
    
    {% endblock %}
