{% extends "BackOffice/layout.html.twig" %}


{% block body %}
    <h1>Finess creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
       
            {{ include("Nuts/cancelsave.html.twig") }}

    {{ form_end(form) }}
 
{% endblock %}
