{% extends "BackOffice/layout.html.twig" %}

{% block title %}{{ parent() }} - Changement de mot de passe{% endblock %}

{% block message_flash %}
{% endblock %}

{% block body %}
    <h1>{{'user' | get_icon | raw}} Utilisateur {{user}} </h1>
    <h2>Changement de mot de passe</h2>
    
    {% include "MessageFlash/messageFlash.html.twig" %}
        
    {% include "User/inc_edit_pasword.html.twig" %}

        
{% endblock %}