<div class='panel panel-primary'>
<div class='panel-heading'>Premier utilisateur</div>        
    <table  class='table table-bordered'>
            <tr>
                 <th>Email </th>
                 <td>{{ first_user.email }}</td>
            </tr>
            <tr>
                 <th>Login </th>
                 <td>{{ first_user }}</td>
            </tr>
            <tr>
                 <th>Mot de passe </th>
                {%  if first_user.ChangedPassword %}
                    <td class='alert-danger'>Le mot de passe à été changé! </td>
                {% else  %}
                    <td>{{ first_user.firstPassword }}</td>
                {% endif %}
            </tr>
    </table>      
</div>