{% extends "BackOffice/layout.html.twig" %}


{% block body %}
    
    <h1><a href='{{ path('pericles3_backoffice_roles')}}'>Roles</a></h1>

     
    
{% endblock %}

{% block  out_container %}

 
                    {% set read_only = true %}

   {% include 'BackOffice/user/list.html.twig' %}

    
 {% endblock %}
