{% extends "BackOffice/Demande/layout.html.twig" %}
{% block body %}{{ parent() }}
    <h2>Gestionnaire</h2>
    
    {% if targetCreai is not empty  %}
        <h3>{{targetCreai }}</h3>
    {% endif  %}
    
{% endblock %}

{% block out_container  %}
    
        {% include "BackOffice/Demande/Gestionnaire/inc_liste.html.twig" %}
        <p>
            
            
            
    {% if app.user.isCreai %}
        <a class='btn btn-link full-width ' href="{{ path('demande_gestionnaire_new_byfiness') }}">Nouvelle demande de création de gestionnaire</a>
    {% endif  %}

    
{% endblock %}
