{% extends 'layout.html.twig' %}

    {% block body %}
            <h1>Erreur 403</h1>

    {# if is_granted('IS_AUTHENTICATED_FULLY') %} #}

        <div class='alert alert-danger'>
           Vous n'avez pas les droits d'accès à cette page ! 
        </div>
    
    {% endblock %}
    
    
            