{% extends "Evaluation/Referentiel/critere/layout.html.twig" %}



{% block body %}
    
      {{ parent() }}
       
      <h2>Constats</h2>
        
      <div id='constat_liste'>
         {% include "Evaluation/Referentiel/critere/inc_constats.html.twig"   %}
      </div>
      
       
      
      
        {% if is_granted('ROLE_RW_EVAL')  %}
            
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <div class="panel panel-primary">            
                    <div  class="panel-heading"> <h3 class="panel-title">Ajouter un constat</h3> </div>
                      <div class="panel-body">       
                          

                            <form action='{{ path('pericles3_critere_ref_eval_constats_add', {'id':critere_referentiel.id}) }}' method='POST'>
                                  <div class="form-group">
                                                <fieldset class="fsStyle">
                                                <legend class="legendStyle">Constat :</legend>
                                                        <div id="message">
                                                            <textarea rows="5" required="required" value="" class="form-control" name="constat" id="constat"></textarea>
                                                        </div>
                                                </fieldset>
                                        </div>
                                {% include "Etablissement/inc_form_etablissements.html.twig" with {'refPublicCible': critere_referentiel.referentielPublic }  %}
                                 <input class='btn btn-primary' type='submit' value="Créer le constats pour les établissements sélectionnés">
                                 
                                 
                            </form>                 
                        </div>
                    </div>
                </div>
              <div class="col-md-3"></div>
            </div>
                    
                    
        {% endif %}

      
         
         
{% endblock %}


{% block javascripts %}
{#  #}
     	<script type="text/javascript">

 
       
        
        

        function updateConstat(id){
 
 
            $('#hdnConstatToModify').val(id);
            $('#UpdateConstatInput').val($('#constat_'+id).html());
            $('#ModalConstat').modal('show');
        }
        
        
        $('#body').on('click', '#ValidUpdateConstat', function() {
            
            
            var id_constat_to_modify=$('#hdnConstatToModify').val();
            var constat_commentaire=$('#UpdateConstatInput').val();
              
            var data = {idConstat : id_constat_to_modify,constat : constat_commentaire};
         
            
            $.ajax({
                type: "POST",
                url: Routing.generate('pericles3_critere_ref_eval_constats_edit', { id: id_constat_to_modify }),
                data: data,
                dataType: "json",
                success: function(response) {
                    console.log(response);
                    
                    
                    $('#hdnConstatToModify').val("");
                    $('#constat_'+id_constat_to_modify).html(constat_commentaire);
                    $('#constat_'+id_constat_to_modify+'_user').html(response.user);
                    $('#constat_'+id_constat_to_modify+'_date').html(response.date);
                    $('#constat_'+id_constat_to_modify+'_date').addClass( "alert-warning" );
                    $('#UpdateConstatInput').val("");
                    $('#ModalConstat').modal('hide'); 
                },
                error: function(XMLHttpRequest, textStatus, errorThrown)
                {
                    $('#ModalConstat').loader('hide');
                    alert('Error: ' +  errorThrown);
                }
            });
        });

        
        

        </script>



{% endblock %}
