            <div class="form-group">
                <label class="control-label" for="titre">Titre : </label>
                <input id="commentaire" name="titre" class="form-control" value="" />
            </div>
            <div class="form-group">
                <label class="control-label" for="description">Description : </label>
                <textarea id="commentaire" name="description" class="form-control" rows="3" ></textarea>
            </div>

                <div class="form-group">
                    <label class="control-label" for="dateFin">Date de fin : </label>
                    <input class="form-control datepicker" type="text" id="dateFin" name="dateFin" value="">
                </div>
