{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1> <a href="{{ path('qualieval_index') }}"> Quali Eval</a> </h1>
    

    {% include ("BackOffice/qualievalreferentiel/inc_children.html.twig") %}
    
{% endblock %}
