{% extends "BackOffice/layout.html.twig" %}

{% block body %}


    <h1><a href="{{ path('referentielpublic_index') }}">  Référentiels</a></h1>
 
    
         {% include "BackOffice/referentielpublic/arborescence_inc.html.twig"   %} 
        
        
        
        
        
{% endblock %}


{% block initjs %}
{% endblock %}
