
{% if node.SourceChildren | length > 0%}
  <div class="panel panel-primary">
        <div class="panel-heading"> <h3 class="panel-title">Réferentiels enfant :  </h3> </div>
        <div class="panel-body">
            <ul>
                {% for source in node.SourceChildren %}
                    <li><b>{{source.referentielPublic}} : </b> <a href="{{ path('referentielpublic_show_node', { 'id': source.referentielPublic.id ,'id_node' : source.id  })}}" >{{source.numero}} {{source}}</a>

                {% endfor %}
                        </ul>
            </div>
    </div>
{% endif %}
                        