{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1><a href="{{ path('referentielpublic_index')}}">  Référentiels</a></h1>
    <h2><a href="{{ path('referentielpublic_show', { 'id': referentielPublic.id }) }}">  {{ referentielPublic }} </a></h2>

    
    
   {{ chartjs_canvas('grafic_bypublic',grafic_bypublic.width,grafic_bypublic.height,grafic_bypublic) }}
 
                 
  
   
{% endblock %}

{% block out_container %}
 
    
    
    
{% endblock %}
