{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Mot de passe oublié{% endblock %}

{% block body %}
	<div class="well">
	
		{% include "MessageFlash/messageFlash.html.twig" %}
	
		<form action="{{ path("login_motdepasseoublie", {}) }}" method="POST" >
			<div class="form-group">
			    <label for="inputEmail">Saisissez votre Email :</label>
			    <input type="email" required="required" class="form-control" name="inputEmail" id="inputEmail">
			</div>
			
			<button type="submit" class="btn btn btn-primary">
		        Valider
		    </button>
		</form>
	</div>
{% endblock %}