        <span class='lgd screen_only'>L&eacutegende </span> 	
        <span class="pastilles">
                <i class='icon-circle todo'></i>Non commenc&eacute;
                <i class='icon-circle done'></i>Termin&eacute;
                <i class='icon-circle doing'></i>En cours
                <i class='icon-circle toedit'></i>A modifier / Important
        </span>
