

        {{ render(controller('Pericles3Bundle:FrontOffice/Evaluation:listDimension', { 'id': critere.dimension.domaine.id,'current_dimension_id' :critere.dimension.id })) }}
        {{ render(controller('Pericles3Bundle:FrontOffice/Evaluation:listCritere', { 'dimensionId': critere.dimension.id,'current_critere_id' :critere.id  })) }}
        <div style="clear:both;"></div>
