         <div id="critere_transversal" class="transversal">
             
             {% if critere.PreviousCritere %}
                 <a title="{{critere.PreviousCritere}}" 
                    {% include 'Nuts/inc_href_critere.html.twig'  with {'critere_to_link_id': critere.PreviousCritere.Id} %}
                    class="dir right actif"> < </a>
             {% else %}
                 <span class="dir left inactif"> < </span>
             {% endif %}
            <span class="transversal_nom">
                 <a 
                   {% include 'Nuts/inc_href_critere.html.twig'  with {'critere_to_link_id': critere.Id} %}
                >
                     {{critere.numero}} - {{critere}}
                 </a>
                 
            </span>
             {% if critere.NextCritere %}
                 <a title="{{critere.NextCritere}}" 
                    {% include 'Nuts/inc_href_critere.html.twig'  with {'critere_to_link_id': critere.NextCritere.Id} %}
                    class="dir right actif"> ></a>
             {% else %}
                 <span class="dir right inactif"> > </span>
             {% endif %} 
        </div>
            