{# empty Twig template #}
        
         <div id="domaine_transversal" class='transversal'>
            
             {% if domaine.PreviousDomaine %}
                 <a title="{{domaine.PreviousDomaine}}" 
                    
                    {% include 'Nuts/inc_href_domaine.html.twig'  with {'domaine_to_link_id': domaine.PreviousDomaine.Id} %}
                    
                    class="dir right actif"> < </a>
             {% else %}
                 <span class="dir left inactif"> < </span>
             {% endif %}
            <span class="transversal_nom">
                 <a 
                    {% include 'Nuts/inc_href_domaine.html.twig'  with {'domaine_to_link_id': domaine.Id} %}
                    >
                {{domaine.numero}} - {{domaine}}
                    </a>
            </span>
             {% if domaine.NextDomaine %}
                 <a title="{{domaine.NextDomaine}}" 
                    
                    {% include 'Nuts/inc_href_domaine.html.twig'  with {'domaine_to_link_id': domaine.NextDomaine.Id} %}
                    class="dir right actif"> ></a>
             {% else %}
                 <span class="dir right inactif"> > </span>
             {% endif %}
                
        </div>
            
             