{% extends "Synthese/layout.html.twig" %}

{% block body %}
    {{ parent() }}
     <h1>Critère</h1>
     {% include "Nuts/menu_domaine_transversal.html.twig"  with {'domaine': critere.dimension.domaine} %} 
     {% include "Nuts/menu_dimension_transversal.html.twig"  with {'dimension': critere.dimension} %} 
     {% include "Nuts/menu_critere_transversal.html.twig"  %} 
     
     

     <h2>Evaluation</h2>
        {% if critere.note %}
                   <div class='eval_note'>

                            <img src='{{  critere.note | formatNoteNuage | raw }}'> 
                            {{critere.note | formatNoteSimple}} 

                   </div>
        {% else %}
            <div class="alert alert-warning">Vous n'avez pas évalué ce critère</div>
         {% endif %}  
     {% include "Synthese/synthese_arsene/synthese_critere_inc.html.twig"  %} 
   
             
{% endblock %}
