{% set points_faible =''%}
{% for question in critere.questions %}
    {% if question.repondu %}
        {% if not question.reponse %}
             {% set points_faible = points_faible ~  '<li>' ~ question.ReponseLib  ~  '</li>'%}
        {% endif%}
    {% endif%}
{% endfor %}
{% if points_faible is not empty %}
        <h4>Points qualité à améliorer </h4>
            <ul>
                    {{ points_faible | raw }} 
            </ul>
{% endif%}

