{% set points_forts =''%}
{% for question in critere.questions %}
    {% if question.repondu %}
        {% if question.reponse %}
             {% set points_forts = points_forts ~ '<li>' ~  question.ReponseLib ~ '</li>'%}
        {% endif%}
    {% endif%}
{% endfor %}

{% if points_forts is not empty %}
        <h4>Eléments qualité à conserver </h4>
            <ul>
                    {{ points_forts | raw }} 
            </ul>
{% endif%}
