{# empty Twig template #}
<h1>ELEMENTS DE METHODE </h1>
Afin de mener à bien l’évaluation interne au sein de la structure, la Direction a retenu l’outil du réseau des CREAI pour conduire la démarche qualité : le référentiel ARSENE. 
<p>
Articulée en cinq principaux domaines et vingt-deux dimensions qui les subdivisent, cette méthode propose un questionnement global sur la qualité de l’offre de service et les processus organisationnels à l’œuvre au sein des établissements et services relevant du L312-1 du Code de l’Action Sociale et des Familles. 
<p>
La démarche d’utilisation d’ARSENE s’est voulue à la fois 
<ul>
    <li><b>pluridisciplinaire : </b> associant la diversité des professions présentes dans la structure ;
    <li><b>transversale : </b> reposant sur une analyse mobilisant les différents niveaux hiérarchiques : cadres de direction, cadres intermédiaires, intervenants directs auprès des personnes bénéficiaires ;
    <li><b>participative :  </b>associant les usagers et/ou leurs représentants ;
    <li><b>structurée :  </b>chaque critère de qualité est étayé par plusieurs éléments d’appréciation visant l’objectivation des réalités analysées ;
    <li><b>argumentée :  </b>des éléments de preuve sont associés aux appréciations valorisant la qualité du service rendu ;
    <li><b>référencée : </b> une bibliothèque interactive a été constituée au cours de la démarche ;
    <li><b>formative pour les professionnels : </b>l’utilisation du référentiel a été accompagnée d’une intervention du CREAI. Cette formation avait pour objectifs d’améliorer la maîtrise du cadre réglementaire et théorique de l’évaluation de la qualité des interventions ; de développer des capacités méthodologiques à évaluer les pratiques ; de développer la capacité des professionnels à comprendre les enjeux et participer à la mise en œuvre d’une démarche d’amélioration continue de la qualité. 
</ul>


Conformément à la recommandation de l’ANESM <i>«Evaluation interne. Repères pour les établissements et services prenant en charge habituellement des mineurs/jeunes majeurs dans le cadre de la protection de l’enfance et/ou mettant en oeuvre des mesures éducatives »</i>, l’articulation du présent rapport est décliné en quatre parties principales : 


<ol>
    <li>La prise en compte de l'intérêt de l'enfant et de ses besoins fondamentaux, physiques, intellectuels, sociaux et affectifs
    <li>La garantie des droits des personnes accompagnées et leur participation au fonctionnement de la structure
    <li>La personnalisation de l'accompagnement, la coordination des interventions, la cohérence et la continuité des parcours
    <li>La prévention et la gestion des risques liés à la situation de vulnérabilité des personnes accompagnées
    <li>Une cinquième partie consacrée à l’organisation et aux ressources a été ajoutée à cette structuration de l’analyse, ces dimensions paraissant indissociablement liées à la qualité du service rendu aux personnes enfants, adolescents et jeunes majeurs accompagnés.
</ol>

<p>
    
Dans chacun de ces chapitres, les différentes dimensions sont appréciées au travers de leurs points forts, de leurs points faibles, et s’assortissent d’objectifs d’amélioration constitutifs du plan d’amélioration de la qualité.  