{# empty Twig template #}
<h1>Cadre d'action des activités déployées / Population concernée </h1>
    <h2>Contractualisations engagées</h2> 
        {{ etablissement.PrincipContractualisations }}
    <h2>Principales valeurs de l’organisme  </h2> 
        {{ etablissement.PrincipValeurs}}
    <h2>Principaux objectifs du projet d'établissement ou de service    </h2> 
        {{ etablissement.PrincipObjectifs}} 
    <h2>Principales caractéristiques de la population    </h2> 
        {{ etablissement.PrincipCaractéristiques}}
        
        