{# empty Twig template #}

<h1>ELEMENTS DE METHODE </h1>
Afin de mener à bien l’évaluation interne au sein de la structure, la Direction a retenu l’outil du réseau des CREAI pour conduire la démarche qualité : le référentiel ARSENE. 
<p>
Articulée en cinq principaux domaines et vingt-quatre dimensions qui les subdivisent, cette méthode propose un questionnement global sur la qualité de l’offre de service et les processus organisationnels à l’œuvre au sein des établissements et services relevant du L312-1 du Code de l’Action Sociale et des Familles. 
<p>
La démarche d’utilisation d’ARSENE s’est voulue à la fois 
<ul>
    <li><b>pluridisciplinaire : </b> associant la diversité des professions présentes dans la structure ;
    <li><b>transversale : </b> reposant sur une analyse mobilisant les différents niveaux hiérarchiques : cadres de direction, cadres intermédiaires, intervenants directs auprès des personnes bénéficiaires ;
    <li><b>participative :  </b>associant les usagers et/ou leurs représentants ;
    <li><b>structurée :  </b>chaque critère de qualité est étayé par plusieurs éléments d’appréciation visant l’objectivation des réalités analysées ;
    <li><b>argumentée :  </b>des éléments de preuve sont associés aux appréciations valorisant la qualité du service rendu ;
    <li><b>référencée : </b> une bibliothèque interactive a été constituée au cours de la démarche ;
    <li><b>formative pour les professionnels : </b>l’utilisation du référentiel a été accompagnée d’une intervention du CREAI. Cette formation avait pour objectifs d’améliorer la maîtrise du cadre réglementaire et théorique de l’évaluation de la qualité des interventions ; de développer des capacités méthodologiques à évaluer les pratiques ; de développer la capacité des professionnels à comprendre les enjeux et participer à la mise en œuvre d’une démarche d’amélioration continue de la qualité. 
</ul>

Ce rapport est organisé conformément à la recommandation de l’ANESM <i>«L’évaluation interne : repères pour les établissements d’hébergement pour personnes âgées dépendantes »</i>. 
Cette recommandation publiée en février 2012 est une déclinaison de la recommandation transversale « La conduite de l’évaluation interne dans les établissements 
et services visés à l’article L.312-1 du code de l’Action sociale et des familles » de juillet 2009.


<p>
<p>



L’articulation du présent rapport, en conformité avec la circulaire du 21 octobre 2011 relative à l’évaluation des activités et de la qualité des prestations délivrées dans les établissements et services sociaux et médico sociaux, rend compte de l’évaluation interne réalisée au travers de cinq axes centrés sur les résidents :
<ol>
    <li>la garantie des droits individuels et collectifs ;
<li>	la prévention des risques liés à la santé ;
<li>	le maintien des capacités dans les actes de la vie quotidienne et l’accompagnement de la situation de dépendance ;
<li>	la personnalisation de l’accompagnement ;
<li>	l’accompagnement de fin de vie.
<p>
<p>

    Ce rapport d’évaluation interne, conformément au décret n° 2007-975 du 15 mai 2007 fixant le contenu du cahier des charges pour l'évaluation des activités et de la qualité des prestations des établissements et services sociaux et médico-sociaux et au décret no 2014-1368 du 14 novembre 2014 relatif au renouvellement des autorisations des établissements et services sociaux et médico-sociaux, propose ainsi deux chapitres complémentaires :
<li>	L’organisation des ressources humaines et financières
<li>	Un projet d’établissement implanté sur son territoire et conforme à la réglementation
    </ol>
    
Dans chacun de ces chapitres du rapport, les différentes dimensions sont appréciées au travers des points forts, points faibles et présentent les objectifs d’amélioration constitutifs du plan d’amélioration de la qualité.
