<table class='bar-success'>
    <tr>
        <td class='success' height='20px' width='{{ note * 10}}%'></td>
        <td class='danger'  height='20px' width='{{ 100 - (note * 10)}}%'></td>
    </tr>
</table>
    
    