<div class='panel panel-primary'>
    <div class='panel-heading'>Relance(s) : </a></div>        
    <div  class='panel-body'>
        
         <table class='table table-bordered'>
            {% for rappel in rappels %}
                <tr>
                    <td>{{rappel.dateRappel|hiddenDate("d-m-Y") | raw }}</td>
                    <td>{{rappel}}</td> 
                </tr>
            {% endfor  %}
            </table>
            <h3>Nouvelle Relance : </h3>
        {% include 'BackOffice/facture/add/add_facture_relance_form.html.twig' %}
        
    </div>
</div>
    