<form method="POST" >
    <input type="hidden" name='type' value='add_module_etablisement'>
    <input type="hidden" name='etab_id' value='{{etab.id}}'>
    <input type="hidden" name='montant' value='{{montant}}'>
    <input type="hidden" name='version' value='{{version}}'>
    
    <button type="submit" class="btn btn-default btn-warning">{{montant}}€ </button>
</form>
