{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Mentions légales {% endblock %}
 

{% block body %}
    {{ parent() }}
    <h1>Mentions légales ARSENE </h1>
<b>ARSENE</b> «Application pour la Restitution et la Synthèse d’une Nouvelle Evaluation interne» déposée et enregistrée le 7 FÉVRIER 2013 pour les produits et services couverts dans  l’enregistrement  à l’INPI sous le numéro 13 3 980 886.
<p>
<p>
L’Association nationale des CREAI (ANCREAI) possède le droit à titre exclusif d'utiliser, d'apposer et d'exploiter la marque « ARSENE Application pour la Restitution et la Synthèse d’une Nouvelle Evaluation interne» en tant que dénomination d’un logiciel informatique dans les champs d’activité relatifs aux activités de soutien à la démarche d’amélioration continue de la qualité des établissements et services en direction des personnes en situation de vulnérabilité (périmètre de la loi L2002-2) compris dans les services inscrits en classe  n° 35, 38 et 42
<p>
 
<b>Conception générale d’ARSENE : </b>Thierry DIMBOUR
<p>
<b>Définition des fonctionnalités et suivi de réalisation du projet : </b>Thierry DIMBOUR et Thibault MARMONT
<p>
<b>Elaboration des référentiels « métiers » :</b> BOIVIN Jessica, BRIZAIS Josette, CADENEL Annie, DIMBOUR Thierry, GOBERT Isaline, LECUYER Mathilde, MARIOT Ludivine, MARMONT Thibault, M'SALLAK Najette, PINSOLLE Marianne, VERNET Julien
<p>
<b> Logotype : </b>Société GRAPHITE – Yann BRILLAUD
<p>
<b>Conception graphique : </b> Alexandra STRUK et Antoine LOTZ
<p>
<b>Programmation informatique :  </b>Antoine LOTZ et INATO (Sébastien DELAS)
<p>
<b>    Musique du clip : </b> "start'up Arsène "  / Michel Carraro 
<p>
    
<b>Protection juridique et commerciale, droits d’utilisation :  </b>Annie CADENEL, déléguée nationale de l’ANCREAI
<p>
    Télécharger le <a target='blank'  href='/conditions_generales_de_licence.pdf'><i class=' icon-file-pdf'></i> contrat de licence d’utilisation du logiciel «ARSENE»</a>.
<p>
<b>Abonnements et facturation : </b>Anne Sophie RAKOTOBE, ANCREAI
<p>
    Produit par <a target='blank' href='http://www.ancreai.org'>l’ANCREAI</a>
<p>
    Développé par le  <a target='blank' href='http://www.creai-aquitaine.org'>CREAI Aquitaine</a>
<p>
    Hébergement <a target='blank' href='http://www.ovh.fr'>OVH </a>
<p>
    Pour toute information complémentaire : <a href='mailto:info@arsene-evaluation.fr'>info@arsene-evaluation.fr</a>
<br>ANCREAI – Association Nationale des CREAI
<br>3/5 rue de Metz <br> 75010 Paris 
        
<p><b> Tel : </b>01 53 59 60 40 
{% endblock %}