
    
    {% if domaine.commentaires |length > 0 %}
      <h4>Synthèse(s) du domaine évalué</h4>
        <ul>
            {% for commentaire in domaine.commentaires %}
                <li>{{ commentaire.commentaire }}</li>
            {% endfor %}
        </ul>
    {% endif %}
            
    