
        <table class='table table-triable_simple_desc table-bordered'>
        <thead class='color'>
            <tr>
                <th>Range</th>
                <th>Nb</th>
            </tr>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% for stat  in stats %}
            <tr>
                <td>{{ stat.dt_range }}</td>
                <td>{{ stat.nb }}</td>
            </tr>
        {% set total = total  + stat.nb %}
            

        {% endfor %}
        </tbody>
        
        <tfoot class='total'>
            <tr>
                <td>Total</td>
                <td class="text-right">{{total}}</td>
            </tr>
        </tfoot>
    </table>
 