{% extends "BackOffice/layout.html.twig" %}




{% block body %}
    <h1><a href="{{ path('arsene_stats') }}">Stats</a></h1>
   
    
    <h2>Connections</h2>
    
    
       <div class='row'>
            <div class='col-md-6'>
                  <div class="panel panel-primary">
                        <div class="panel-heading"> <h3 class="panel-title"><i class='glyphicon glyphicon-king'></i> Par heure </h3> </div>
                            {% include 'BackOffice/Stats/connections_user_inc.html.twig' with {'stats' : stats_hour} %}
                        </div>      
            </div>      
            <div class='col-md-6'>
                  <div class="panel panel-primary">
                        <div class="panel-heading"> <h3 class="panel-title"><i class='glyphicon glyphicon-king'></i> Par mois </h3> </div>
                            {% include 'BackOffice/Stats/connections_user_inc.html.twig' with {'stats' : stats_month} %}
                        </div>      
            </div>      
        </div>      
       <div class='row'>
            <div class='col-md-6'>
                  <div class="panel panel-primary">
                        <div class="panel-heading"> <h3 class="panel-title"><i class='glyphicon glyphicon-king'></i> Par jour </h3> </div>
                            {% include 'BackOffice/Stats/connections_user_inc.html.twig' with {'stats' : stats_day} %}
                        </div>      
            </div>      
            <div class='col-md-6'>
                  <div class="panel panel-primary">
                        <div class="panel-heading"> <h3 class="panel-title"><i class='glyphicon glyphicon-king'></i> Par jour de la semaine</h3> </div>
                            {% include 'BackOffice/Stats/connections_user_inc.html.twig' with {'stats' : stats_day_week} %}
                        </div>      
            </div>      
        </div>      
{% endblock %}
 