{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Inscription{% endblock %}

{% block body %}
 
    <h1>{{'user' | get_icon | raw}}  Utilisateur {{ user.username }}</h1>
    <h2>Changement de mot de passe </h2>

    
        
    {% include "User/inc_edit_pasword.html.twig" %}

        
{% endblock %}