{% extends "BackOffice/layout.html.twig" %}
 

         
{% block title %}{{ parent() }} - Etablissement{% endblock %}


         
{% block body %}
      <h1>Etablissements</h1>
     
{% endblock %}



{% block out_container  %}
    
 {% include ("BackOffice/Etablissement/a_migrer_inc.html.twig") %}
 
{% endblock %}


    
