{% extends "BackOffice/layout.html.twig" %}
 
         
{% block title %}{{ parent() }} - Etablissement{% endblock %}

         
{% block body %}
      <h1><a href="{{ path('pericles3_backoffice_etablissement') }}"> Etablissements</a></h1>
{% endblock %}

{% block out_container  %}
     {% if is_granted('ROLE_SUPER_ADMIN') %}
         
                 <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-primary"> 
                        <div class="panel-heading"> <h3 class="panel-title">Derniers établissements crées</h3></div>
                        {% include "BackOffice/Etablissement/list_short_crees.html.twig" with {'etablissements': LastCreatedEtablissements} %}
                        <a class='btn full-width btn-link'  href="{{ path('pericles3_backoffice_etablissement_all', {}) }}">{{'etablissement' | get_icon | raw}} Voir tous les établissements</a>                    
                        </div>
                    </div>
                        
                    {% if EtablissementsTests is not empty %}
                    <div class="col-md-6">
                        <div class="panel panel-primary"> 
                        <div class="panel-heading"> <h3 class="panel-title">Etablissements tests</h3></div>
                        {% include "BackOffice/Etablissement/list_short_crees.html.twig" with {'etablissements': EtablissementsTests} %}
                        </div>
                    </div>
                    {% endif %}

                    
                    <div class="col-md-3">
                        <div class="panel panel-primary"> 
                        <div class="panel-heading"> <h3 class="panel-title">Rechercher un établissement</h3></div>
                        <div class="panel-body"> 
                            {% include "BackOffice/Etablissement/inc_search.html.twig" %}
                 
                 
                    </div>
                    </div>
                 </div>
            
      {% endif %}
{% endblock %}


    
