{% extends "BackOffice/layout.html.twig" %}

{#
{% if app.user.Creai %}
        {% set deps= app.user.Creai.departements %}
      {% else %} 
          {% set deps= Departements %}
{% endif %}
#}

         
{% block title %}{{ parent() }} - Etablissement{% endblock %}


         
{% block body %}
      <h1>Etablissements</h1>
      {% if is_granted('ROLE_GESTIONNAIRE') %}
          <a class='btn btn-primary active full-width' href="{{ path('pericles3_backoffice_suivi_etablissement') }}"> Suivi des établissements</a><br><p>
            {% include 'BackOffice/Etablissement/inc_titre.html.twig' %}
            {% include 'BackOffice/Etablissement/list.html.twig' %}
      {% endif %}
{% endblock %}



{% block out_container  %}
     {% if is_granted('ROLE_SUPER_ADMIN') %}
            {% include 'BackOffice/Etablissement/inc_titre.html.twig' %}
            {% include 'BackOffice/Etablissement/list.html.twig' %}
      {% endif %}
{% endblock %}


    
