{% extends "BackOffice/layout.html.twig" %}

{% block title %}{{ parent() }} - Etablissement{% endblock %}

{% block body %}
	
    
      <h1>Etablissements</h1>
      <h2>Suivi</h2>
   

            
{% endblock %}

     {% block out_container  %}
          {% include 'BackOffice/Etablissement/list_suivi.html.twig' %}
    {% endblock %}         
