 
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
 

.arbre_container {
  position: relative;
  margin:auto;
}


.branch {
  position: relative;
  margin-left: 350px;
}

.branch:before {
  content: "";
  width: 50px;
  border-top: 2px solid #427675;
  position: absolute;
  left: -100px;
  top: 50%;
  margin-top: 1px;
}

.entry {
  position: relative;
  min-height: 180px;
}
.entry:before {
  content: "";
  height: 100%;
  border-left: 2px solid #427675;
  position: absolute;
  left: -50px;
}
.entry:after {
  content: "";
  width: 50px;
  border-top: 2px solid #427675;
  position: absolute;
  left: -50px;
  top: 50%;
  margin-top: 1px;
}
.entry:first-child:before {
  width: 10px;
  height: 50%;
  top: 50%;
  margin-top: 2px;
  border-radius: 10px 0 0 0;
}
.entry:first-child:after {
  height: 10px;
  border-radius: 10px 0 0 0;
}
.entry:last-child:before {
  width: 10px;
  height: 50%;
  border-radius: 0 0 0 10px;
}
.entry:last-child:after {
  height: 10px;
  border-top: none;
  border-bottom: 2px solid #427675;
  border-radius: 0 0 0 10px;
  margin-top: -9px;
}
.entry.sole:before {
  display: none;
}
.entry.sole:after {
  width: 50px;
  height: 0;
  margin-top: 1px;
  border-radius: 0;
}

.leef {
  display: block;
  width: 250px;
  padding: 5px 10px;
  line-height: 20px;
  text-align: center;
/*
  border: 2px solid #427675;
  */
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
}

.leef_domaine
{
    background-color:#007699;   
    border:1px solid #007699;
    color:#ffffff;
}
.leef_root a, .leef_domaine a
{
    color:#ffffff;
}

.leef_root
{
    border:1px solid #127473;
    background-color:#127473;   
    color:#ffffff;
}

			 
.leef_dimension
{
    border:1px solid #127473;
    background-color:#127473;   
    color:#ffffff;
}
.leef_critere
{
    border:1px solid #6ba0b1;
    background-color:  #6ba0b1;
    color:#ffffff;
}



.leef_ooa
{
    border:1px solid #6e9f9e;
    background-color:  #6e9f9e;
    color:#eeeeee;
}

.leef_osa
{
    border:1px solid #127473;
    background-color:  #127473;
    color:#eeeeee;
}

.leef_osa a:hover,a.leef_osa:hover
{
    color:#ffffff;
    background-color:  #223c41;
}

.leef_ooa a:hover,a.leef_ooa:hover
{
    color:#ffffff;
    background-color:  #127473;
}







	/*		 
.lv1 .leef
{
        text-align: left;
	background-color:#dddddd;
	color:#333333;
}

.lv2 .leef
{
	background-color:#555555;
	color:#ffffff;
}
 */
.leef_oa.todo { border-left:solid 10px #cdcccc; }
.leef_oa.done { border-left:solid 10px #9ca64b; }
.leef_oa.toedit { border-left:solid 10px #e94435; }
.leef_oa.doing { border-left:solid 10px #f29829; }




.orphan_tree>*
{
    display:block;
    padding:6px;
    margin:6px;
}







/*
.leef .num
{
    display:block;
    widht:10px;
    left:0;
    background-color:#ee0000;
}
*/



