@media print {
  a[href]:after {
    content: none;
  }
}


.screen_only
{
    display: none;
}


.dir,  .dataTables_filter, .btn
{
    display: none;
}
.transversal
{
    text-align: left;
}

#dimension_transversal
{
padding-left:35px;    
}

#critere_transversal
{
padding-left:70px;    
}



