  

      
#sub_menu
{
    background-color:#fc9247;
}





#sub_menu a
{
    background-color:#fc9247;
}

#sub_menu a.selected
{
    background-color:#fc9247;
}
 
 
.etablissement_titre
{
    background-color:#fc9247;
}

 
.gestionnaire_titre
{
    background-color:#fc9247;
}
   
.menu_domaine_5 > * 
{
    background-color:#fc9247;

} 

#menu_domaine a:hover  {    background-color:#eeb54a }

#menu_domaine a.menuSelected { background-color: #1d3c5d; }
#menu_domaine a.menuSelected:Hover {  background-color: #155b76 }
     

qsdqs
{
      background-color:#fc9247;
}


h3.ResumeCritereTitleContainer, h1, .transversal, #domaine_transversal, #dimension_transversal, #critere_transversal
{
    background-color:#fc9247;
}

.panel-primary > .panel-heading
{
      background-color:#fc9247;
}