
{% if  etablissement.LastSauvegardeAgo('%y') >= '1' %}
                  <div class='alert alert-danger'>
                      Vous n'avez pas effectué de sauvegardes depuis au moins un an (la dernière remonte à {{etablissement.LastSauvegardeAgo('%y')}} an(s)
                      {% if etablissement.LastSauvegardeAgo('%M') > '00' %}
                      et   {{etablissement.LastSauvegardeAgo('%m')}} mois )
                     {% endif %} )
                      <br>! Il est conseillée d'en faire au moins une par an ! 
                  </div>

        {%  include 'Synthese/Sauvegardes/inc_sauvegardes_btn.html.twig' %}

        {% else %} 
          {% if etablissement.LastSauvegardeAgo('%m') >= '4'%}
                       {%  include 'Synthese/Sauvegardes/inc_sauvegardes_btn.html.twig' %}

              {% else %}
                          <div class='alert alert-warning  '><i class='glyphicon glyphicon-warning-sign'></i>
                      Votre dernière sauvegarde à moins de 3 mois, vous ne pouvez pas en faire une autre.  
                 </div> 
             {% endif %} 
     {% endif %}
     
     
     