{% extends "Synthese/layout.html.twig" %}



{% block body %}
    {{ parent() }}

<h1> Sauvegardes des établissements </h1>

    
    
        
 
    {% if sauvegardes | length ==  0 %}
        <div class='alert alert-warning'>
            Aucune sauvegardes
        </div>
    {% else %}

        
        {% include "Synthese/Sauvegardes/inc_liste.html.twig"  %} 

 
        {% if etablissement is defined %}
                {% set path_sauvegardes_do = path("pericles3_sauvegardes_etablissement_do", {'id':etablissement.id}) %}
                {% include "Synthese/Sauvegardes/inc_inform_do.html.twig"  %} 
        {% endif  %}

    {% endif  %}
    
       
       
     
     
{% endblock %}