{% extends "Synthese/layout.html.twig" %}



{% block body %}
    {{ parent() }}

<h1> Sauvegardes  </h1>

    {% set sauvegardes  = etablissement.sauvegardes %}

    
      {% if app.user.IsAnEtablissement %}
             {% set path_sauvegardes_do = path("pericles3_sauvegardes_do") %} 
        {% else %}
            {% if etablissement is defined %}
                {% set path_sauvegardes_do = path("pericles3_sauvegardes_etablissement_do", {'id':etablissement.id}) %} 
            {% endif  %}
        {% endif  %}
     
    
 
    {% if etablissement.NbSauvegardes ==  0 %}
        {% include  'Synthese/Sauvegardes/inc_pas_de_sauvegardes.html.twig' %}
    {% else %}
        {% include "Synthese/Sauvegardes/inc_liste.html.twig"  %} 
               {% include "Synthese/Sauvegardes/inc_inform_do.html.twig" %} 
    {% endif  %}
     
     
{% endblock %}