                    
       {% if critere.rbpp   %}
            <h4>RBPP</h4>
                <ul>
                    <li><a target='blank' href='{{critere.rbpp.href}}'>{{critere.rbpp}}</a>  <i>{{critere.RbpppComment}}</i>
                </ul>  
       {% endif  %}
