{% if ObjectifsSrategiques |length > 0 %}
        <h4>Objectifs Stratégiques</h4>
  <ul>
      {% for objectif in ObjectifsSrategiques %}
          <li>{{ objectif }}</li>          
      {% endfor %}
  </ul>
{% endif %}

