            <div class="panel panel-primary">
            <div class="panel-heading">Délégation CREAI</div>
                <div class="panel-body">
                    {% if etablissement.delegationCreai %}
                        <div class='alert alert-success'>
                            
                             {% include 'BackOffice/utilsateur_arsene/inc_delegation_on_message.html.twig'  %}
                                <br><p>  <br><p>    
                                    {%  if etablissement is defined %}
                                        <a class="btn btn-warning btn-block" href="{{ path('backoffice_etablissement_undeleg') }}">Désactiver la délégation CREAI</a>
                                    {%  else %}
                                    
                                    {%  endif  %}
                        </div>
                    {% else  %}
                        <div class='alert alert-warning'>
                             {% include 'BackOffice/utilsateur_arsene/inc_delegation_off_message.html.twig'  %}
                                 <br><p>  <br><p><a class="btn btn-warning btn-block" href="{{ path('backoffice_etablissement_deleg') }}">Activer la délégation CREAI</a>
                        </div>
                    {% endif %}
                </div>
            </div>