
         <div class="panel panel-danger">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse_ajoute_preuve">Ajouter un preuve</a>
        </h4>
      </div>
      <div id="collapse_ajoute_preuve" class="panel-collapse collapse">
        <div class="panel-body">
             <div id='show_new_objectif_form'>
                 {#  class='ajax_form' data-zone_to_reload='#liste_objectifs' #}
                        <form  action="{{linf_add_preuve }}" method="POST" >Description<textarea id ="inputCommentairePreuve" name ="inputCommentairePreuve" class="form-control" rows="2"></textarea>
                                    <h4>Joindre une entrée de la bibilotheque Gestionnaire</h4>
                                        {% if  gestionnaire.NbBibliotheques==0 %}
                                           <div class='alert alert-warning'> La bibliotheque est vide</div>
                                        {% else %}
                                            <select name='bibliotheque_gestionnaire'>
                                                {% include 'Bibliotheque/inc_liste_deroulante.html.twig' with {'bibliotheques' : gestionnaire.bibliotheques}  %}
                                            </select>
                                    {% endif %}                   
                                    {% include "Etablissement/inc_form_etablissements.html.twig" with {'refPublicCible': referentielPublic }  %}
                             <div align="center">
                                <br>
                                <input  type="submit"  class="btn btn-primary btn-valider full-width"  value="Ajouter l'objectif opérationnel" />
                            </div>
                        </form>
            </div>
        </div>
       
      </div>
    </div>
          