{% extends "BackOffice/layout.html.twig" %}

{#



O
B
S
O
L
E
T
E



















#}
{% block title %}{{ parent() }} - Bibliothèque Gestionnaire{% endblock %}

{% block body %}{{ parent() }} 

    <h1>Bibliothèque Gestionnaire : {{app.user.gestionnaire}}</h1>
    <div class='alert alert-info'>Toutes les entrées de la bibliothèque seront visibles par vos structures/établissements</div>

    {% if bibliotheques|length > 0 %}
         {% include "Bibliotheque/inc_liste.html.twig" %} 
    {% else %}
        <div class='alert alert-warning'>
           Aucune entrée dans la bibliothèque
        </div>
    {% endif %}
    
        <a class="btn btn-primary active full-width" href="{{ path('pericles3_backoffice_bibliotheque_create') }}"><i class='glyphicon glyphicon-plus'></i>Créer une entrée dans la bibliothèque</a>

{% endblock %}