{% extends "Evaluation/layout.html.twig" %}

{%  set  referentielsPublic = app.user.GestionnaireReferentielsPublic %}

{% block title %}{{ parent() }} - {% endblock %}

{% block body %}
    
      {{ parent() }}

      <h1>Par référentiel </h1>
            {% include "Evaluation/Referentiel/par_referentiel.html.twig" %}
{% endblock %}




{% block javascripts %}
    <script type="text/javascript">
        {% include "Synthese/inc_options_charts.js.twig" %}
                
      {% for referentielPublic in referentielsPublic %}
         {{ etabsByRef[referentielPublic.id] | graph('chartCanvasEtablissements_' ~ referentielPublic.id,true,'options_responsive') |raw }}
             {#
         {{ etabsByRef[referentielPublic.id] | graphMultiDataSet('chartCanvasDomaines_' ~ referentielPublic.id ) |raw }}
         #}
     {% endfor %}


    </script>
{% endblock %}
