 
<div class="CritereListContainer screen_only">
    <div id="CritereTitle"><h2>Eléments d'apréciations</h2></div>
    <ul>
        {% for question in questions %}
       
            {% if current_question_ref_id is defined  %}
                {% if question.id == current_question_ref_id  %} 
                    {% set active_class=" actif " %}
                {% else %}
                    {% set active_class=" " %}
                {% endif %}
            {% else %}
                {% set active_class=" " %}
            {% endif %}
              <li>
                    <a class="critere_link {{active_class}}" href="{{ path('pericles3_question_ref', {'id': question.id}) }}">
                         > {{ question.numero }} - {{ question}}
                    </a>
            </li>
             
        {% endfor %}
    </ul>
</div>