
    <div class="row">
      {% for referentielPublic in referentielsPublic %}
          
            <a href='{{ path('pericles3_referentiel_ref', {'id' :referentielPublic.id })}}'>
             <div class="col-md-6 ">
                <div class="panel panel-primary panel_osa">            
                    <div class="panel-heading"> <h3 class="panel-title">{{ referentielPublic }}</h3> </div>
                      <div class="panel-body"> 
                          
                        <canvas id="chartCanvasEtablissements_{{referentielPublic.id}}"  ></canvas>
                        
                </div>
            </div>
            </div> 
                       
                {#
                 <div class="col-md-6 ">
                            <div class="panel panel-primary panel_osa">            
                                <div class="panel-heading"> <h3 class="panel-title">Domaines</h3> </div>
                                  <div class="panel-body"> 
                                    <canvas id="chartCanvasDomaines_{{referentielPublic.id}}"  ></canvas>
                            </div>
                        </div>
                  </div>
                #}       
                            
                </a>
    {% endfor %} 
            </div>
