{% extends "BackOffice/layout.html.twig" %}

{% block title %}{{ parent() }} - Administration{% endblock %}
{% block out_container  %}

{{ parent() }}

    
    {% if is_granted('ROLE_SUPER_ADMIN_TRAITEMENT_DEMANDE') %}

        <h2>Demandes de de créations {% include "BackOffice/Demande/inc_notif_demande_main_creation.html.twig" %} </h2>

            {% include "BackOffice/Demande/inc_index.html.twig"  %}
             
        {% endif %}

    
        
    {% if app.user.isCreai %}
        
        <h2>Demandes de d'informations {{app.user.creai }}  {% include "BackOffice/Demande/inc_notif_demande_main_info.html.twig" %}</h2>
        
            {% include "BackOffice/Demande/inc_index_creai.html.twig"  %}
    {% endif %}
    
        {% if is_granted('ROLE_SUPER_ADMIN_TRAITEMENT_DEMANDE') %}
                {% include "BackOffice/Demande/demande_par_creai.html.twig"  %}
        {% endif %}

    
        
    
    
     
     
    
{% endblock %}