{% if targetCreai is not defined %}
    {% set targetCreai = null %}
{% endif %}


{% extends "BackOffice/layout.html.twig" %}
{% block title %}{{ parent() }} - Demandes {% endblock %}
 
{% block body %}{{ parent() }}
    <h1><a href="{{ path('backoffice_demande_index')}}">Demandes

        </a></h1>
    {% include "BackOffice/Demande/inc_sub_menu_demande.html.twig" %}        

    
{% endblock %}

