{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1>Pericles</h1>

    
    
    {% if  is_granted('ROLE_MEGA_ADMIN') %}
        <a class='btn btn-warning' href="{{ path('backoffice_pericles_cotisation') }}">MAJ cotisation</a>
        <a class='btn btn-warning' href="{{ path('backoffice_pericles_majdepartement') }}">MAJ departement</a>
        
    {% endif  %}
    


    {% endblock %}

    
    {% block out_container  %}
     
        {%  include ('BackOffice/pericles/inc_prospects.html.twig') %}


    {% endblock %}
