<html>
	<head></head>
	<body>
		Bonjour,<br />
		Vous avez demandé la réinitialisation de votre mot de passe, si vous n'êtes pas à l'origine de cette demande, ignorez ce mail.<br />
		Pour réinitialiser votre mot de passe, cliquez sur le lien suivant : <a href="{{ url("login_resetpassword", {'user' : user, 'code': code}) }}">Réinitialisez votre mot de passe</a>
	</body>
</html>