
                {% if editorial.EtatPublication.id == 1 %}
                    <td class='alert-danger'>
                {% elseif editorial.EtatPublication.id == 3 %}
                    <td class='alert-warning'>
                {% elseif editorial.EtatPublication.id == 5 %}
                    <td class='alert-success'>
                {% else %}
                    <td>
                {% endif  %}
                    {{ editorial.EtatPublication }}</a></td>

                    
                    
                   
                    