@font-face {
  font-family: 'fontello';
  src: url('/bundles/indafluxfontello/font/fontello.eot?15893207');
  src: url('/bundles/indafluxfontello/font/fontello.eot?15893207#iefix') format('embedded-opentype'),
       url('/bundles/indafluxfontello/font/fontello.woff2?15893207') format('woff2'),
       url('/bundles/indafluxfontello/font/fontello.woff?15893207') format('woff'),
       url('/bundles/indafluxfontello/font/fontello.ttf?15893207') format('truetype'),
       url('/bundles/indafluxfontello/font/fontello.svg?15893207#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?15893207#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-flow-tree:before { content: '\e800'; } /* '' */
.icon-list-bullet:before { content: '\e801'; } /* '' */
.icon-plus-circled:before { content: '\e802'; } /* '' */
.icon-user-plus:before { content: '\e803'; } /* '' */
.icon-users:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-info-circled:before { content: '\e806'; } /* '' */
.icon-help-circled:before { content: '\e807'; } /* '' */
.icon-minus-circled:before { content: '\e808'; } /* '' */
.icon-tags:before { content: '\e809'; } /* '' */
.icon-ok:before { content: '\e80a'; } /* '' */
.icon-ok-circled:before { content: '\e80b'; } /* '' */
.icon-shuffle:before { content: '\e80c'; } /* '' */
.icon-left-big:before { content: '\e80d'; } /* '' */
.icon-down-big:before { content: '\e80e'; } /* '' */
.icon-right-big:before { content: '\e80f'; } /* '' */
.icon-up-big:before { content: '\e810'; } /* '' */
.icon-play:before { content: '\e811'; } /* '' */
.icon-stop:before { content: '\e812'; } /* '' */
.icon-cloud:before { content: '\e813'; } /* '' */
.icon-flash:before { content: '\e814'; } /* '' */
.icon-user-add:before { content: '\e815'; } /* '' */
.icon-users-1:before { content: '\e816'; } /* '' */
.icon-user-1:before { content: '\e817'; } /* '' */
.icon-left-open:before { content: '\e818'; } /* '' */
.icon-right-open:before { content: '\e819'; } /* '' */
.icon-up-open:before { content: '\e81a'; } /* '' */
.icon-down-open:before { content: '\e81b'; } /* '' */
.icon-alert:before { content: '\e81c'; } /* '' */
.icon-download:before { content: '\e81d'; } /* '' */
.icon-upload:before { content: '\e81e'; } /* '' */
.icon-export:before { content: '\e81f'; } /* '' */
.icon-home:before { content: '\e820'; } /* '' */
.icon-eye:before { content: '\e821'; } /* '' */
.icon-chart-line:before { content: '\e822'; } /* '' */
.icon-chart-bar:before { content: '\e823'; } /* '' */
.icon-chart-pie:before { content: '\e824'; } /* '' */
.icon-infinity:before { content: '\e825'; } /* '' */
.icon-dot-3:before { content: '\e826'; } /* '' */
.icon-mouse:before { content: '\e827'; } /* '' */
.icon-home-outline:before { content: '\e828'; } /* '' */
.icon-home-1:before { content: '\e829'; } /* '' */
.icon-warning:before { content: '\e82a'; } /* '' */
.icon-user-delete:before { content: '\e82b'; } /* '' */
.icon-user-delete-outline:before { content: '\e82c'; } /* '' */
.icon-users-2:before { content: '\e82d'; } /* '' */
.icon-user-add-outline:before { content: '\e82e'; } /* '' */
.icon-user-add-1:before { content: '\e82f'; } /* '' */
.icon-user-2:before { content: '\e830'; } /* '' */
.icon-users-outline:before { content: '\e831'; } /* '' */
.icon-user-outline:before { content: '\e832'; } /* '' */
.icon-attention-filled:before { content: '\e833'; } /* '' */
.icon-cloud-sun:before { content: '\e834'; } /* '' */
.icon-drizzle:before { content: '\e835'; } /* '' */
.icon-cloud-flash:before { content: '\e836'; } /* '' */
.icon-cloud-wind:before { content: '\e837'; } /* '' */
.icon-user-3:before { content: '\e838'; } /* '' */
.icon-windy-rain-inv:before { content: '\e839'; } /* '' */
.icon-snow-inv:before { content: '\e83a'; } /* '' */
.icon-snow-heavy-inv:before { content: '\e83b'; } /* '' */
.icon-hail-inv:before { content: '\e83c'; } /* '' */
.icon-clouds-inv:before { content: '\e83d'; } /* '' */
.icon-clouds-flash-inv:before { content: '\e83e'; } /* '' */
.icon-temperature:before { content: '\e83f'; } /* '' */
.icon-compass:before { content: '\e840'; } /* '' */
.icon-na:before { content: '\e841'; } /* '' */
.icon-celcius:before { content: '\e842'; } /* '' */
.icon-fahrenheit:before { content: '\e843'; } /* '' */
.icon-clouds-flash-alt:before { content: '\e844'; } /* '' */
.icon-sun-inv:before { content: '\e845'; } /* '' */
.icon-moon-inv:before { content: '\e846'; } /* '' */
.icon-cloud-sun-inv:before { content: '\e847'; } /* '' */
.icon-cloud-moon-inv:before { content: '\e848'; } /* '' */
.icon-cloud-inv:before { content: '\e849'; } /* '' */
.icon-cloud-flash-inv:before { content: '\e84a'; } /* '' */
.icon-drizzle-inv:before { content: '\e84b'; } /* '' */
.icon-rain-inv:before { content: '\e84c'; } /* '' */
.icon-windy-inv:before { content: '\e84d'; } /* '' */
.icon-sunrise:before { content: '\e84e'; } /* '' */
.icon-sun:before { content: '\e84f'; } /* '' */
.icon-moon-1:before { content: '\e850'; } /* '' */
.icon-eclipse:before { content: '\e851'; } /* '' */
.icon-mist:before { content: '\e852'; } /* '' */
.icon-wind:before { content: '\e853'; } /* '' */
.icon-snowflake:before { content: '\e854'; } /* '' */
.icon-cloud-sun-1:before { content: '\e855'; } /* '' */
.icon-cloud-moon:before { content: '\e856'; } /* '' */
.icon-fog-sun:before { content: '\e857'; } /* '' */
.icon-fog-moon:before { content: '\e858'; } /* '' */
.icon-fog-cloud:before { content: '\e859'; } /* '' */
.icon-fog:before { content: '\e85a'; } /* '' */
.icon-cloud-1:before { content: '\e85b'; } /* '' */
.icon-cloud-flash-1:before { content: '\e85c'; } /* '' */
.icon-cloud-flash-alt:before { content: '\e85d'; } /* '' */
.icon-drizzle-1:before { content: '\e85e'; } /* '' */
.icon-rain:before { content: '\e85f'; } /* '' */
.icon-windy:before { content: '\e860'; } /* '' */
.icon-windy-rain:before { content: '\e861'; } /* '' */
.icon-snow:before { content: '\e862'; } /* '' */
.icon-snow-alt:before { content: '\e863'; } /* '' */
.icon-snow-heavy:before { content: '\e864'; } /* '' */
.icon-hail:before { content: '\e865'; } /* '' */
.icon-clouds:before { content: '\e866'; } /* '' */
.icon-clouds-flash:before { content: '\e867'; } /* '' */
.icon-power:before { content: '\e868'; } /* '' */
.icon-circle:before { content: '\e869'; } /* '' */
.icon-user-5:before { content: '\e86a'; } /* '' */
.icon-user-4:before { content: '\f061'; } /* '' */
.icon-user-male:before { content: '\f062'; } /* '' */
.icon-user-female:before { content: '\f063'; } /* '' */
.icon-users-3:before { content: '\f064'; } /* '' */
.icon-attach:before { content: '\f06a'; } /* '' */
.icon-lock-open-alt:before { content: '\f075'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-sort-name-up:before { content: '\f15d'; } /* '' */
.icon-sort-name-down:before { content: '\f15e'; } /* '' */
.icon-sort-number-up:before { content: '\f162'; } /* '' */
.icon-sort-number-down:before { content: '\f163'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-archive:before { content: '\f1c6'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-lock-alt:before { content: '\f510'; } /* '' */
.icon-lock:before { content: '\f512'; } /* '' */
.icon-lock-open:before { content: '\f513'; } /* '' */