{% extends "Bibliotheque/layout.html.twig" %}

{% block title %}{{ parent() }} - Ajout{% endblock %}

{% block body %}{{ parent() }}

    
        <h2>BIBLIOTHÈQUE {{ etablissement.nom }} </h2>

        
	<div class="well">
              {% include "Bibliotheque/inc_lien_create_biblio.html.twig" with {'type_bibliotheque': 'etablissement','type_menu': 'navtabs'}   %} 
 {#action="{{ path("pericles3_bibliotheque_create", {'type': type}) }}"#}
 
<br>  		<form id="form_biblio"  method="POST"  enctype="multipart/form-data" >	
                    {% include "Bibliotheque/formulaire.html.twig" %} 

            </form>
	</div>

                    
{% endblock %}
