{% extends "Bibliotheque/layout.html.twig" %}


{% block title %}{{ parent() }} - Bibliothèque des établissements -  Liste {% endblock %}

{% block body %}{{ parent() }} 

            <h2 class='alert alert-success'>Bibliothèques des établissements</h2>
    {% if bibliotheques|length > 0 %}
         {% include "Bibliotheque/inc_liste.html.twig" %} 
    {% else %}
        <div class='alert alert-warning'>
              Aucune entrée dans les bibliothèques des établissements
        </div>
    {% endif %}
    
{% endblock %}