{% set titre_synthese= 'SYNTHESE ' ~ etablissement.ReferentielExterne %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
    <HEAD>
        <meta charset="UTF-8">
        <TITLE></TITLE>
            {% include "Synthese/export/inc/export.css.html.twig" %}
    </HEAD>
<BODY>
     

{% include "Synthese/export/inc/page_de_garde.html.twig" %}
   


{% include "Synthese/export/inc/inc_etablissement.html.twig" %}
    
{% include "Synthese/export/inc/inc_textes_princips.html.twig" %}

{% include "Synthese/export/inc/inc_texte_refext_" ~ etablissement.ReferentielExterne.id ~".html.twig" %}


 
   

<p>
    
                {% for domaine in etablissement.domainesExterne  | order %}

                    <h1><a id="domaine_{{domaine.ordre}}" name="domaine_{{domaine.ordre}}">{{ domaine.ordre}}. {{domaine}}</a></h1>

                    {% set Criteres = domaine.criteres %}
                    {% set externe = true %}
                    {% include "Synthese/export/inc/inc_critere_complet.html.twig" %}
                {% endfor %}

 </BODY>
</HTML>
 