{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Editorial {% endblock %}


{% block body %}
    <h1><a href="{{ path("pericles3_editorial") }}">Editorial</a></h1>
    
        {% include "Editorial/inc_editorial.html.twig" %}
        

{% endblock %}
