{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1><a href="{{ path('backoffice_prospection_index') }}">Prospection </a></h1>
        <table class='table table-bordered table-triable'>
        <thead>
            <tr>
                <th>Referentiel Public</th>
            </tr>
        </thead>
        <tbody>
        {% for referentielPublic in referentielPublics %}
            <tr><td><a href="{{ path('backoffice_prospection_public', { 'id': referentielPublic.id }) }}">{{referentielPublic}}</a></td></tr>
        {% endfor %}
        </tbody>
    </table>            
            
        
{% endblock %}

  