{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1><a href="{{ path('backoffice_prospection_index') }}">Prospection </a>

          
       
{% endblock %}

    
{% block out_container  %}

      
           <h2>Etablissements sans licences dont le gestionnaire utilise {{application_name}}</h2>
            {%  include ('BackOffice/Prospection/inc_prospection_finess.html.twig') %}
            
{% endblock %}



