{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block legend %}{{ parent() }}
{% endblock %}

{% block body %}
  
    
    <h1>Fil d'infos</h1>
    
    
    {% for editorial in editorials %}
        
        <h2>{{editorial.titre}}</h2>
        {{editorial | raw }}
        
    {% endfor %}
             
{% endblock %}