{# empty Twig template #}
    {% if criteres_pforts | length %}
          <div class="panel panel-success pforts"> 
                <div class="panel-heading"> <h3 class="panel-title">Eléments qualité remarquables</h3> </div>
                <div class="panel-body"> 
                    <ul>
                        {%for critere_pfort in criteres_pforts %}
                            <li>  
                                <a class='' href="{{ path('pericles3_critere', {'id': critere_pfort.id}) }}#0">{{critere_pfort.numero}} : {{critere_pfort}} ({{critere_pfort.note | formatNoteSimple}}) </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
