

<div class='panel panel-primary'>
                <div class='panel-heading'><a data-toggle="collapse" href="#collapse_paiement">Déclarer que la facture a été payée</a></div>        
                    <div  id="collapse_paiement" class='panel-body panel-collapse collapse table table-bordered'>

                <form method="POST" >
                    <input type="hidden" name='type' value='add_paiement'>    

                    <div class="form-group row">
                        <label class="col-sm-3 control-label required" for="dateDePaiement">Date de paiement </label>
                        <div class="col-sm-2">
                            <input class="datepicker form-control" type="text" value="{{ "now"|date("m/d/Y") }}" id="dateDePaiement" name="dateDePaiement">
                        </div>
                        <div class="col-sm-7">
                            <label class="radio-inline"><input value="3" type="radio" checked  name="optradio">Par virement</label>
                            <label class="radio-inline"><input value="2"  type="radio" name="optradio">Par cheque</label>
                        </div>
                    </div>
                        
                        
                        
                        <div class='row'>
                            <p>&nbsp;<br>  <button type="submit" class="btn btn-default btn-danger full-width">OK</button>
                        </div>
                        
                </form>
            </div>
</div>
