<div class='panel panel-primary'>
    <div class='panel-heading'><a data-toggle="collapse" href="#collapse_relance">Ajouter une relance : </a></div>        
    <div  id="collapse_relance" class='panel-body panel-collapse collapse table table-bordered'>
            {% include 'BackOffice/facture/add/add_facture_relance_form.html.twig' %}
    </div>
</div>
    