{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {% include('@AldafluxSireneApi/Collector/icons/insee.html.twig') %}
         <span class="sf-toolbar-value">SIRENE</span>
    {% endset %}

    {% set text %}
        {# this is the content displayed when hovering the mouse over
           the toolbar panel #}
        <div class="sf-toolbar-info-piece">
            <b>Method</b>
            <span>{{ collector.method }}</span>
        </div>

        <div class="sf-toolbar-info-piece">
            <b>Accepted content type</b>
            <span>{{ collector.acceptableContentTypes|join(', ') }}</span>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig') }}
{% endblock %}


{% block menu %}
    {% set profiler_markup_version = profiler_markup_version|default(1) %}

    <span class="label ">
        
        <span class="icon">
        {% include('@AldafluxSireneApi/Collector/icons/insee.html.twig') %}
        </span>
        <strong>Siren</strong>
            <span class="count">
                <span>{{collector.LogCount}}</span>
            </span>
    </span>
{% endblock %}

{% block panel %}
    {% set profiler_markup_version = profiler_markup_version|default(1) %}

    {% if profiler_markup_version == 1 %}
        <style>
            h3 { margin-top: 2em; }
            h3 span { color: #999; font-weight: normal; }
            h3 small { color: #999; }
            h4 { font-size: 14px; font-weight: bold; }
            .card { background: #F5F5F5; margin: .5em 0 1em; padding: .5em; }
            .card .label { display: block; font-size: 13px; font-weight: bold; margin-bottom: .5em; }
            .card .card-block { margin-bottom: 1em; }
        </style>
    {% endif %}

    <h2>Siren</h2>
          <div class="empty">
            <p>There are no IDS logs .</p>
         </div>
        

                   
</div>
{% endblock %}

