{% extends "ObjectifsAmelioration/layout.html.twig" %}


{% block body %}
    {{ parent() }}

    
    <div class='row'>
        <div class='col-md-3 legend_gannts legend_gantt_red'>
            A faire
        </div>
        <div class='col-md-3 legend_gannts legend_gantt_orange'>
            En cours
        </div>
        <div class='col-md-3 legend_gannts legend_gantt_green'>
            Fini
        </div>
         <div class='col-md-3 legend_gannts legend_gantt_retard'>
            En retard
        </div>
    </div>    
    
    
        
    
{% endblock %}
     

{% block out_container  %} 
    {{ parent() }}
    <h1 class='paq'>GANTT</h1>
   
    
        
    
     <div class="gantt_container">
     <div class="gantt"></div>
        </div>  
     
       {% set values = '' %}
     
     {% for objectifOperationnel in objectifOperationnels %}
            {% if objectifOperationnel.dateDebut is not empty  and objectifOperationnel.dateFin is not empty %} 
    
                    {% include 'ObjectifsAmelioration/Operationnels/inc_modal_show.html.twig' %}

            {% endif  %}
    {% endfor %}
        
     
{% endblock %}
 
{% block javascripts %}
        {% include 'ObjectifsAmelioration/inc_gantt.js.twig' %}
{% endblock %}
 