{% extends "ObjectifsAmelioration/layout.html.twig" %}


{% block stylesheets %} 
    {% stylesheets '@Pericles3Bundle/Resources/public/css/arbre.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}



{% block title %}{{ parent() }} - PAQ{% endblock %}

{% block body %}{{ parent() }}
    
    <h2 class='osa'>Qualigramme</h2>
  
    
    {% if etablissement is defined %}
        {% include "ObjectifsAmelioration/organigramme_etablissement_inc.html.twig"  %} 
    {% else %}
       {% for etablissement in app.user.etablissements %}
            {% include "ObjectifsAmelioration/organigramme_etablissement_inc.html.twig"  %} 
       {% endfor %}
    {% endif  %}
        
  
             
             
        
{% endblock %}
