{% extends "ObjectifsAmelioration/layout.html.twig" %}


{% block title %}{{ parent() }} - Recherche{% endblock %}
                
{% block body %}
  {{ parent() }}
  
    <h1>Recherche</h1>
             <form action="{{path("pericles3_paq_search")}}" method="POST"   >
                        <div class="form-group">
                          <input type="text" name='occurence' class="form-control" placeholder="Rechercher dans le paq">
                        </div>
                        <button type="submit" class="btn btn-link full-width"><i class='glyphicon glyphicon-search'></i></button>
            </form>
 
                            
  {% include("Nuts/inc_search.html.twig") %} 

{% endblock %}