{% extends "ObjectifsAmelioration/layout.html.twig" %}

{% block title %}{{ parent() }} - Liste{% endblock %}
 
    
{% block body %}
    {{ parent() }}
        <h2 class='ooa'><a href='{{ path('paq_ooa_list') }}'>Objectifs Opérationnels</a></h2>
        
         {% include "MessageFlash/messageFlash.html.twig" %}
 
{% endblock %}

